In [4]:
import pandas as pd 
import numpy as np
from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt


csvfile = "Pendulum-v0.csv"  #file name

In [5]:
data= pd.read_csv(csvfile)
data.head()

   action  cos_theta  sin_theta  theta_dot
0   1.802      0.996     -0.087      0.834
1  -1.507      0.998     -0.060      0.542
2   1.516      1.000     -0.024      0.724
3  -0.297      1.000      0.009      0.662
4   0.595      0.999      0.047      0.758

In [8]:
#profile = ProfileReport(data, title='Pandas Profiling Report')
#profile.to_file("profile.html")

In [8]:
input=data['action']
input.head()

0    1.802
1   -1.507
2    1.516
3   -0.297
4    0.595
Name: action, dtype: float64

In [10]:
x=input.values

In [11]:
x

array([ 1.802, -1.507,  1.516, ..., -1.068, -0.377,  1.76 ])

In [14]:
out=data[["cos_theta","sin_theta","theta_dot"]]
out.head()

   cos_theta  sin_theta  theta_dot
0      0.996     -0.087      0.834
1      0.998     -0.060      0.542
2      1.000     -0.024      0.724
3      1.000      0.009      0.662
4      0.999      0.047      0.758